{% extends "layout.html" %}

{% block body %}
<div class="row">
    <h1 class="faculty-glyphic-regular">Cell Website</h1>
</div>
<div class="row position-relative">
    <div class="col-2 position-relative">
        <div _ngcontent-iih-c7="" class="storyboard-nav-container"><!---->
            <ul _ngcontent-iih-c7="" class="storyboard-nav ng-star-inserted" style="top: 0px;"><!----><!---->
                <li _ngcontent-iih-c7="" class="ng-star-inserted storyboard-nav_item storyboard-nav_item--active">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner firstDot" id="pagePopup1">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="ng-star-inserted storyboard-nav_item">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot" >
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup2">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot" >
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup3">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup4">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup5">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup6">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup7">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup8">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup9">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot_final">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup10">
    
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col position-relative" id="page1">
        <h1>What are cells?</h1>
        <p>Cells are the simplest life forms, with the most basic cell being called a prokaryote. </p>
        <p>Cells evolved from bacteria eating one another</p>
        <p>A bacteria eats another bacteria, and if they benefit eachother, the ingested bacteria gets to stay.</p>
        <p>Eventually the bacteria (cell) engulfed enough bacteria to look like the cells we see today.</p>
        <p>This theory is called Endosymbiosis, created by Lynn Margulis in 2001</p>
        <p>Endosymbiotic theory led to the creation of organelles.</p>
        <p>Organelles to a cell are like organs to humans.</p>
    </div>
    <div class="col position-relative" id="page1">
        <div class="row-2">
            <div class="col">
                <img src="{{ url_for('static', filename='prokaryote.jpeg') }}">
            </div>
            <div class="col">
                <p>Prokaryotic cell</p>
            </div>
        </div>
        <div class="row-2">
            <div class="col">
                <img src="{{url_for('static', filename='eukaryote.jpeg')}}">
            </div>
            <div class="col">
                <p>Eukaryotic animal cell (evolved cell)</p>
            </div>
        </div>
    </div>
    <div class="col position-relative" id="page2">
        <div class = "row-3">
            <h1>History of Cell Discovery</h1>
            <p>

            <h5> Robert Hooke (1665): </h5>
                
            <p>First to observe and name "cells" after looking at cork under a microscope.
                Saw empty "cell" walls in plant material.</p>
            <h5>Antonie van Leeuwenhoek (1674):</h5>
                
                    <p> Discovered "animalcules" (single-celled organisms) by observing pond water under a microscope.
                First to observe living cells.
                First to observe living cells.</p>
                <h5>Matthias Schleiden (1838):</h5>
                
                Proposed that all plants are made of cells.
                <h5>Theodor Schwann (1839):</h5>
                
                Proposed that all animals are made of cells.
                Rudolf Virchow (1855):
                
                Concluded that all cells come from pre-existing cells.
            
                <h5>Cell Theory:</h5>
                    <p>1. All living things are made of cells (Schleiden & Schwann).<p></p>
                    <p>2. The cell is the basic unit of structure and function in living organisms.</p>
                    <p>3. All cells arise from preexisting cells (Virchow).</p>
                    <p>4. All cells contain genetically inherited material(DNA/RNA)</p>

            </p>
                </div>
                <div class="row-2">
                    <div class="col">
                        <img src="{{url_for('static', filename='sigma.jpeg')}}">
                    </div>
                    <div class="col">
                        <p>Leeuwenhoek's first microscope</p>
                    </div>
                </div>

    </div>
    <div class="col position-relative" id="page3">
        <h1>page 3</h1>
        <h1>Animal Cell</h1>
        <img src="{{ url_for('static', filename='omega.png') }}" alt="Cell Diagram" class="img-fluid mainImage">
        
        <!-- Circles for interaction -->
        <div class="animalCircle" style="top: 215px; left: 200px; z-index: 0;" animalDataPopup="popup1"></div>
        <div class="animalCircle" style="top: 295px; left: 190px; z-index: 0;" animalDataPopup="popup2"></div>
        <div class="animalCircle" style="top: 150px; left: 170px; z-index: 0;" animalDataPopup="popup3"></div>
        
        <!-- Popup images -->
         <label id="popup1" class="animalPopupLabel">
            <div class="row">
                <div class="col position-relative">
                    <img src="{{ url_for('static', filename='1.png') }}" alt="Popup 1" style="z-index: 1;" class="popupImage">
                </div>
                <div class="col position-relative">
                    <p class="faculty-glyphic-regular">Organelle 1</p>
                    <p class="faculty-glyphic-regular">This organelle is cool</p>
                    <p class="faculty-glyphic-regular">This organelle does stuff</p>
                </div>
            </div>
         </label>
        <label id="popup2" class="animalPopupLabel">
            <div class="row">
                <div class="col position-relative">
                    <img src="{{ url_for('static', filename='2.png') }}" alt="Popup 2" class="popupImage">
                </div>
                <div class="col position-relative">
                    <p class="faculty-glyphic-regular">Organelle 2</p>
                    <p class="faculty-glyphic-regular"> This organelle is cool</p>
                    <p class="faculty-glyphic-regular">This organelle does stuff</p>
                </div>
            </div>
        </label>
        <label  id="popup3" class="animalPopupLabel">
            <div class="row">
                <div class="col position-relative">
                    <img src="{{ url_for('static', filename='3.png') }}" alt="Popup 3" class="popupImage">
                </div>
                <div class="col position-relative">
                    <p class="faculty-glyphic-regular">Organelle 3</p>
                    <p class="faculty-glyphic-regular"> This organelle is cool</p>
                    <p class="faculty-glyphic-regular">This organelle does stuff</p>
                </div>
            </div>
        </label>
    </div>
    <div class="col position-relative" id="page4">
        <h1>page 4</h1>
        <img src="{{ url_for('static', filename='jpegimage2.png') }}" alt="Cell Diagram" class="img-fluid mainImage">
        
        <!-- Circles for interaction -->
        <div class="plantCircle" style="top: 180px; left: 100px;" plantDataPopup="plantPopup1"></div>
        <div class="plantCircle" style="top: 180px; left: 200px;" plantDataPopup="plantPopup2"></div>
        <div class="plantCircle" style="top: 300px; left: 300px;" plantDataPopup="plantPopup3"></div>
        
        <!-- Popup images -->
         <label id="plantPopup1" class="plantPopupLabel">
            <div class="row">
                <div class="col position-relative">
                    <img src="{{ url_for('static', filename='1.png') }}" alt="Popup 1" class="popupImage">
                </div>
                <div class="col position-relative">
                    <p class="faculty-glyphic-regular">Organelle 1</p>
                    <p class="faculty-glyphic-regular">This organelle is cool</p>
                    <p class="faculty-glyphic-regular">This organelle does stuff</p>
                </div>
            </div>
         </label>
        <label id="plantPopup2" class="plantPopupLabel">
            <div class="row">
                <div class="col position-relative">
                    <img src="{{ url_for('static', filename='2.png') }}" alt="Popup 2" class="popupImage">
                </div>
                <div class="col position-relative">
                    <p class="faculty-glyphic-regular">Organelle 2</p>
                    <p class="faculty-glyphic-regular"> This organelle is cool</p>
                    <p class="faculty-glyphic-regular">This organelle does stuff</p>
                </div>
            </div>

        </label>
        <label  id="plantPopup3" class="plantPopupLabel">
            <div class="row">
                <div class="col position-relative">
                    <img src="{{ url_for('static', filename='3.png') }}" alt="Popup 3" class="popupImage">
                </div>
                <div class="col position-relative">
                    <p class="faculty-glyphic-regular">Organelle 3</p>
                    <p class="faculty-glyphic-regular"> This organelle is cool</p>
                    <p class="faculty-glyphic-regular">This organelle does stuff</p>
                </div>
            </div>
        </label>
    </div>
    <div class="col position-relative" id="page5">
        <h1>page 5</h1>
        <div class="container my-4">
            <h1 class="text-center mb-5">Cell Structure and Organelles</h1>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
              
              <!-- Cell Membrane -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/cell_membrain.jpeg') }}" class="card-img-top" alt="Cell Membrane">
                  <div class="card-body">
                    <h5 class="card-title">Cell Membrane</h5>
                    <p class="card-text">Surrounds the cell. Regulates passage of materials (oxygen, nutrients, waste) in/out of the cell. See how a cell membrane works.</p>
                  </div>
                </div>
              </div>
        
              <!-- Cell Wall -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/cell_wall.jpg') }}" class="card-img-top" alt="Cell Wall">
                  <div class="card-body">
                    <h5 class="card-title">Cell Wall</h5>
                    <p class="card-text">Plant cells only. Surrounds the cell membrane. Provides protection and support for the cell and protects it.</p>
                  </div>
                </div>
              </div>
        
              <!-- Cytosol -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/cytosol.jpg') }}" class="card-img-top" alt="Cytosol">
                  <div class="card-body">
                    <h5 class="card-title">Cytosol</h5>
                    <p class="card-text">Inside the cell membrane but outside the nucleus. A gel-like substance that provides support for organelles and helps move materials within the cell. Cytosol + organelles = cytoplasm.</p>
                  </div>
                </div>
              </div>
        
              <!-- Nucleus -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/nucleus.webp') }}" class="card-img-top" alt="Nucleus">
                  <div class="card-body">
                    <h5 class="card-title">Nucleus</h5>
                    <p class="card-text">In the center of animal cells (not in the center of plant cells). Directs cell activity like the brain. Contains chromatin made of DNA and proteins.</p>
                  </div>
                </div>
              </div>
        
              <!-- Nuclear Membrane -->
              <div class="col">
                <div class="card h-100">
                  <img <img src="{{ url_for('static', filename='organelles/nuclear_membrain.png') }}" class="card-img-top" alt="Nuclear Membrane">
                  <div class="card-body">
                    <h5 class="card-title">Nuclear Membrane</h5>
                    <p class="card-text">Surrounds the nucleus. Regulates passage of materials in and out through nuclear pores, letting ribosomes out but not DNA.</p>
                  </div>
                </div>
              </div>
        
              <!-- Nucleolus -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/nucleolus.png') }}" class="card-img-top" alt="Nucleolus">
                  <div class="card-body">
                    <h5 class="card-title">Nucleolus</h5>
                    <p class="card-text">Located inside the nucleus. Produces ribosomes and is made of RNA and proteins.</p>
                  </div>
                </div>
              </div>
        
              <!-- Ribosomes -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/ribosomes.jpg') }}" class="card-img-top" alt="Ribosomes">
                  <div class="card-body">
                    <h5 class="card-title">Ribosomes</h5>
                    <p class="card-text">Found in the cytoplasm or attached to the rough ER. They are protein factories – the site of protein synthesis, made of RNA and protein.</p>
                  </div>
                </div>
              </div>
        
              <!-- Endoplasmic Reticulum -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/ER.jpg') }}" class="card-img-top" alt="Endoplasmic Reticulum">
                  <div class="card-body">
                    <h5 class="card-title">Endoplasmic Reticulum</h5>
                    <p class="card-text">Located in the cytoplasm and bound to the nuclear envelope. It comes in two forms: Smooth and Rough.</p>
                  </div>
                </div>
              </div>
        
              <!-- Smooth ER -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/ER.jpg') }}" class="card-img-top" alt="Smooth ER">
                  <div class="card-body">
                    <h5 class="card-title">Smooth ER</h5>
                    <p class="card-text">Synthesizes/makes lipids, stores enzymes or calcium ions, and can break down some poisons. Parts of it can repair the cell membrane.</p>
                  </div>
                </div>
              </div>
        
              <!-- Rough ER -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/ER.jpg') }}" class="card-img-top" alt="Rough ER">
                  <div class="card-body">
                    <h5 class="card-title">Rough ER</h5>
                    <p class="card-text">Modifies/edits proteins made by ribosomes; ribosomes attach to it.</p>
                  </div>
                </div>
              </div>
        
              <!-- Golgi Body -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/golgi_body.jpg') }}" class="card-img-top" alt="Golgi Body">
                  <div class="card-body">
                    <h5 class="card-title">Golgi Body</h5>
                    <p class="card-text">In the cytoplasm. A stack of flattened sacs that modify, package, and distribute substances made by the ER. Looks like a stack of pita packets. Scientists don’t know exactly how it works.</p>
                  </div>
                </div>
              </div>
        
              <!-- Lysosome -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/lysosome.jpg') }}" class="card-img-top" alt="Lysosome">
                  <div class="card-body">
                    <h5 class="card-title">Lysosome</h5>
                    <p class="card-text">Found in the cytoplasm. Filled with digestive enzymes and acid, it breaks down food, foreign particles, and old organelles. Produced by the RER and Golgi.</p>
                  </div>
                </div>
              </div>
        
              <!-- Vacuole -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/vacuole.jpg') }}" class="card-img-top" alt="Vacuole">
                  <div class="card-body">
                    <h5 class="card-title">Vacuole</h5>
                    <p class="card-text">In animal cells, it’s found in the cytoplasm; in plant cells, it is usually a large central vacuole that stores water, nutrients, and wastes, and helps regulate turgor.</p>
                  </div>
                </div>
              </div>
        
              <!-- Peroxisomes -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/peroxisomes.jpg') }}" class="card-img-top" alt="Peroxisomes">
                  <div class="card-body">
                    <h5 class="card-title">Peroxisomes</h5>
                    <p class="card-text">Small sacs in the cytoplasm containing enzymes that detoxify alcohol and break down hydrogen peroxide (H2O2), a toxic byproduct of cellular reactions.</p>
                  </div>
                </div>
              </div>
        
              <!-- Mitochondria -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/mitochondria.jpg') }}" class="card-img-top" alt="Mitochondria">
                  <div class="card-body">
                    <h5 class="card-title">Mitochondria</h5>
                    <p class="card-text">Found in the cytoplasm. Known as the powerhouse of the cell, it is the site of cellular respiration where sugars are converted to ATP. It has a double membrane and its own DNA due to endosymbiosis.</p>
                  </div>
                </div>
              </div>
        
              <!-- Chloroplast -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/chloroplast.png') }}" class="card-img-top" alt="Chloroplast">
                  <div class="card-body">
                    <h5 class="card-title">Chloroplast</h5>
                    <p class="card-text">Found only in plant cells. The site of photosynthesis, it uses light energy to make sugars. It has a double membrane, contains chlorophyll, its own DNA, and divides independently.</p>
                  </div>
                </div>
              </div>
        
              <!-- Microtubule Organizing Center -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/mtoc.jpg') }}" class="card-img-top" alt="Microtubule Organizing Center">
                  <div class="card-body">
                    <h5 class="card-title">Microtubule Organizing Center</h5>
                    <p class="card-text">Located in the cytoplasm near the nucleus. It is where microtubules are first formed and helps in forming flagella, cilia, and spindle fibers during cell division. In animal cells, it contains centrioles.</p>
                  </div>
                </div>
              </div>
        
              <!-- Centrioles -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/centrioles.jpg') }}" class="card-img-top" alt="Centrioles">
                  <div class="card-body">
                    <h5 class="card-title">Centrioles</h5>
                    <p class="card-text">Assist in the formation of spindle fibers during cell division and in forming eukaryotic flagella and cilia.</p>
                  </div>
                </div>
              </div>
        
              <!-- Cytoskeleton -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/cytoskeleton.jpg') }}" class="card-img-top" alt="Cytoskeleton">
                  <div class="card-body">
                    <h5 class="card-title">Cytoskeleton</h5>
                    <p class="card-text">The structural framework that gives the cell its shape. It provides pathways for proteins and vesicles to move within the cell.</p>
                  </div>
                </div>
              </div>
        
              <!-- Cytoskeleton 1 (Microtubules) -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/microtubules.jpeg') }}" class="card-img-top" alt="Microtubules">
                  <div class="card-body">
                    <h5 class="card-title">Cytoskeleton 1 (Microtubules)</h5>
                    <p class="card-text">Hollow tubulin protein tubes that support and shape the cell. They aid in moving organelles and can form centrioles, cilia, and flagella.</p>
                  </div>
                </div>
              </div>
        
              <!-- Cytoskeleton 2 (Microfilaments) -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/microfilaments.jpg') }}" class="card-img-top" alt="Microfilaments">
                  <div class="card-body">
                    <h5 class="card-title">Cytoskeleton 2 (Microfilaments)</h5>
                    <p class="card-text">Long, thin actin protein fibers that aid in cytoplasmic streaming and are specialized for contraction, making them abundant in muscle cells.</p>
                  </div>
                </div>
              </div>
        
              <!-- Cytoskeleton 3 (Intermediate Filaments) -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/intermediate_filaments.jpg') }}" class="card-img-top" alt="Intermediate Filaments">
                  <div class="card-body">
                    <h5 class="card-title">Cytoskeleton 3 (Intermediate Filaments)</h5>
                    <p class="card-text">Fibrous, rope-like proteins that reinforce the cytoskeleton and help anchor some organelles.</p>
                  </div>
                </div>
              </div>
        
              <!-- Flagella -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/flagella.png') }}" class="card-img-top" alt="Flagella">
                  <div class="card-body">
                    <h5 class="card-title">Flagella</h5>
                    <p class="card-text">Tail-like structures that allow locomotion in certain single-celled organisms (e.g., sperm and protists), functioning like propellers.</p>
                  </div>
                </div>
              </div>
        
              <!-- Cilia -->
              <div class="col">
                <div class="card h-100">
                  <img src="{{ url_for('static', filename='organelles/cilia.jpg') }}" class="card-img-top" alt="Cilia">
                  <div class="card-body">
                    <h5 class="card-title">Cilia</h5>
                    <p class="card-text">Hair-like structures that move in unison to push materials over the cell surface in multicellular organisms.</p>
                  </div>
                </div>
              </div>
        
            </div><!-- End row -->
          </div><!-- End container -->
    </div>
    <div class="col position-relative" id="page6">
        <h1>page 6</h1>
    </div>
    <div class="col position-relative" id="page7">
        <h1>page 7</h1>
    </div>
    <div class="col position-relative" id="page8">
        <h1>page 8</h1>
    </div>
    <div class="col position-relative" id="page9">
        <h1>Plant vs. Animal</h1>
        <p>Because of Endosymbiotic Theory, cells have evolved into different categories, most commonly plant and animal, each with different characteristics and functions.</p>
        <table>
            <tr>
                <th>Plant</th>
                <th>Animal</th>
            </tr>
            <tr>
                <td>Have a cell wall</td>
                <td>Do not have a cell wall</td>
            </tr>
            <tr>
                <td>Has a large, central vacuole</td>
                <td>Has a vacuole, but is smaller and off to the side</td>
            </tr>
            <tr>
                <td>Has a smaller nucleus off to the side</td>
                <td>Has a larger, more central nucleus</td>
            </tr>
            <tr>
                <td>Contains no centrioles inside the MTOC</td>
                <td>Contains centrioles inside the MTOC</td>
            </tr>
        </table>
    </div>
    <div class="col position-relative" id="page10">
        <h1>page 10</h1>
        <p>Finish with a summary, may have to add more pages before this point though</p>
    </div>
    
</div>

{% endblock %}
