{% extends "layout.html" %}

{% block body %}
<div class="row">
    <h1 class="faculty-glyphic-regular">Cell Website</h1>
</div>
<div class="row position-relative">
    <div class="col-2 position-relative">
        <div _ngcontent-iih-c7="" class="storyboard-nav-container"><!---->
            <ul _ngcontent-iih-c7="" class="storyboard-nav ng-star-inserted" style="top: 0px;"><!----><!---->
                <li _ngcontent-iih-c7="" class="ng-star-inserted storyboard-nav_item storyboard-nav_item--active">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner firstDot" id="pagePopup1">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="ng-star-inserted storyboard-nav_item">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot" >
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup2">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot" >
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup3">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup4">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup5">
    
                        </div>
                    </div>
                </li><!---->
                            </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup9">
    
                        </div>
                    </div>
                </li><!---->
                <li _ngcontent-iih-c7="" class="storyboard-nav_item ng-star-inserted">
                    <div _ngcontent-iih-c7="" class="storyboard-nav_dot_final">
                        <div _ngcontent-iih-c7="" class="storyboard-nav_dot-inner" id="pagePopup10">
    
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col position-relative" id="page1">
        <h1>What are cells?</h1>
        <p>Cells are the simplest life forms, with the most basic cell being called a prokaryote. </p>
        <p>Cells evolved from bacteria eating one another</p>
        <p>A bacteria eats another bacteria, and if they benefit eachother, the ingested bacteria gets to stay.</p>
        <p>Eventually the bacteria (cell) engulfed enough bacteria to look like the cells we see today.</p>
        <p>This theory is called Endosymbiosis, created by Lynn Margulis in 2001</p>
        <p>Endosymbiotic theory led to the creation of organelles.</p>
        <p>Organelles to a cell are like organs to humans.</p>
    </div>
    <div class="col position-relative" id="page1">
        <div class="row-2">
            <div class="col">
                <img src="{{ url_for('static', filename='prokaryote.jpeg') }}">
            </div>
            <div class="col">
                <p>Prokaryotic cell</p>
            </div>
        </div>
        <div class="row-2">
            <div class="col">
                <img src="{{url_for('static', filename='eukaryote.jpeg')}}">
            </div>
            <div class="col">
                <p>Eukaryotic animal cell (evolved cell)</p>
            </div>
        </div>
    </div>
    <div class="col position-relative" id="page2">
        <div class = "row-3">
            <h1>History of Cell Discovery</h1>
            <p>

            <h5> Robert Hooke (1665): </h5>
                
            <p>First to observe and name "cells" after looking at cork under a microscope.
                Saw empty "cell" walls in plant material.</p>
            <h5>Antonie van Leeuwenhoek (1674):</h5>
                
                    <p> Discovered "animalcules" (single-celled organisms) by observing pond water under a microscope.
                First to observe living cells.
                First to observe living cells.</p>
                <h5>Matthias Schleiden (1838):</h5>
                
                Proposed that all plants are made of cells.
                <h5>Theodor Schwann (1839):</h5>
                
                Proposed that all animals are made of cells.
                Rudolf Virchow (1855):
                
                Concluded that all cells come from pre-existing cells.
            
                <h5>Cell Theory:</h5>
                    <p>1. All living things are made of cells (Schleiden & Schwann).<p></p>
                    <p>2. The cell is the basic unit of structure and function in living organisms.</p>
                    <p>3. All cells arise from preexisting cells (Virchow).</p>
                    <p>4. All cells contain genetically inherited material(DNA/RNA)</p>

            </p>
                </div>
                <div class="row-2">
                    <div class="col">
                        <img src="{{url_for('static', filename='sigma.jpeg')}}">
                    </div>
                    <div class="col">
                        <p>Leeuwenhoek's first microscope</p>
                    </div>
                </div>

    </div>
    <div class="col position-relative" id="page3">
        <h1>Page 3</h1>
        <h1>Animal Cell</h1>
        <img src="{{ url_for('static', filename='omega.png') }}" alt="Cell Diagram" class="img-fluid mainImage">
        
        <!-- Circles for interaction -->
        <div class="animalCircle" style="top: 160px; left: 200px; z-index: 0;" animalDataPopup="animalPopupCellMembrane"></div>
        <div class="animalCircle" style="top: 400px; left: 300px; z-index: 0;" animalDataPopup="animalPopupNucleus"></div>
        <div class="animalCircle" style="top: 610px; left: 400px; z-index: 0;" animalDataPopup="animalPopupRibosomes"></div>
        <div class="animalCircle" style="top: 430px; left: 300px; z-index: 0;" animalDataPopup="animalPopupNucleolus"></div>
        <div class="animalCircle" style="top: 500px; left: 270px; z-index: 0;" animalDataPopup="animalPopupNuclearMembrane"></div>
        <div class="animalCircle" style="top: 620px; left: 330px; z-index: 0;" animalDataPopup="animalPopupER"></div>
        <div class="animalCircle" style="top: 430px; left: 430px; z-index: 0;" animalDataPopup="animalPopupSmoothER"></div>
        <div class="animalCircle" style="top: 590px; left: 400px; z-index: 0;" animalDataPopup="animalPopupRoughER"></div>
        <div class="animalCircle" style="top: 590px; left: 200px; z-index: 0;" animalDataPopup="animalPopupGolgiBody"></div>
        <div class="animalCircle" style="top: 580px; left: 100px; z-index: 0;" animalDataPopup="animalPopupLysosome"></div>
        <div class="animalCircle" style="top: 430px; left: 100px; z-index: 0;" animalDataPopup="animalPopupVacuole"></div>
        <div class="animalCircle" style="top: 535px; left: 115px; z-index: 0;" animalDataPopup="animalPopupPeroxisomes"></div>
        <div class="animalCircle" style="top: 300px; left: 200px; z-index: 0;" animalDataPopup="animalPopupMitochondria"></div>
        <div class="animalCircle" style="top: 180px; left: 300px; z-index: 0;" animalDataPopup="animalPopupMTOC"></div>
        <div class="animalCircle" style="top: 180px; left: 280px; z-index: 0;" animalDataPopup="animalPopupCentrioles"></div>
        <div class="animalCircle" style="top: 680px; left: 380px; z-index: 0;" animalDataPopup="animalPopupCytosol"></div>




        
        <div class="container my-4">
            {% with prefix_id = "animalPopup", class="animalPopupLabel"%}
                {% include 'organelles.html' %}
            {% endwith %}
        </div><!-- End container -->
    </div>

    <div class="col position-relative" id="page4">
        <h1>page 4</h1>
        <h1>Plant Cell</h1>
        <img src="{{ url_for('static', filename='plantimage.webp') }}" alt="Cell Diagram" class="img-fluid mainImage">
        
        <!-- Circles for interaction -->
        <div class="plantCircle" style="top: 210px; left: 210px; z-index: 0;" plantDataPopup="plantPopupCellMembrane"></div>
        <div class="plantCircle" style="top: 400px; left: 200px; z-index: 0;" plantDataPopup="plantPopupNucleus"></div>
        <div class="plantCircle" style="top: 530px; left: 420px; z-index: 0;" plantDataPopup="plantPopupRibosomes"></div>
        <div class="plantCircle" style="top: 370px; left: 220px; z-index: 0;" plantDataPopup="plantPopupNucleolus"></div>
        <div class="plantCircle" style="top: 360px; left: 145px; z-index: 0;" plantDataPopup="plantPopupNuclearMembrane"></div>
        <div class="plantCircle" style="top: 460px; left: 200px; z-index: 0;" plantDataPopup="plantPopupER"></div>
        <div class="plantCircle" style="top: 590px; left: 440px; z-index: 0;" plantDataPopup="plantPopupGolgiBody"></div>
        <div class="plantCircle" style="top: 430px; left: 400px; z-index: 0;" plantDataPopup="plantPopupVacuole"></div>
        <div class="plantCircle" style="top: 625px; left: 150px; z-index: 0;" plantDataPopup="plantPopupPeroxisomes"></div>
        <div class="plantCircle" style="top: 250px; left: 380px; z-index: 0;" plantDataPopup="plantPopupMitochondria"></div>
        <div class="plantCircle" style="top: 190px; left: 200px; z-index: 0;" plantDataPopup="plantPopupCellWall"></div>
        <div class="plantCircle" style="top: 620px; left: 270px; z-index: 0;" plantDataPopup="plantPopupCytosol"></div>
        <div class="plantCircle" style="top: 245px; left: 300px; z-index: 0;" plantDataPopup="plantPopupChloroplast"></div>


        
        <div class="container my-4">
            {% with prefix_id = "plantPopup", class="plantPopupLabel"%}
                {% include 'organelles.html' %}
            {% endwith %}
        </div><!-- End container -->
    </div>

    <div class="col position-relative" id="page5">
        <div class="container my-4">
            <h1 class="text-left mb-5">Cell Structure and Organelles</h1>
            {% with prefix_id = "defineAll", class="organelle"%}
                {% include 'organelles.html' %}
            {% endwith %}            
        </div><!-- End container -->
    </div>
    <div class="col position-relative" id="page9">
        <h1>Plant vs. Animal</h1>
        <p>Because of Endosymbiotic Theory, cells have evolved into different categories, most commonly plant and animal, each with different characteristics and functions.</p>
        <table>
            <tr>
                <th>Plant</th>
                <th>Animal</th>
            </tr>
            <tr>
                <td>Have a cell wall</td>
                <td>Do not have a cell wall</td>
            </tr>
            <tr>
                <td>Has a large, central vacuole</td>
                <td>Has a vacuole, but is smaller and off to the side</td>
            </tr>
            <tr>
                <td>Has a smaller nucleus off to the side</td>
                <td>Has a larger, more central nucleus</td>
            </tr>
            <tr>
                <td>Contains no centrioles inside the MTOC</td>
                <td>Contains centrioles inside the MTOC</td>
            </tr>
        </table>
    </div>
    <div class="col position-relative" id="page10">
        <h1>A Summary</h1>
        <p>Here’s a concise summary on **cells**:</p>

            ---
            
            <p>What Are Cells?</p>
            
            <p>Cells are the **basic units of life** in all living organisms. Every organism, from bacteria to humans, is made up of cells.</p>
            
            ---
            
            <p>Types of Cells</p>
            
            <p>1. Prokaryotic Cells</p>
            
               <p>* Found in bacteria and archaea</p>
               <p>* No nucleus or membrane-bound organelles</p>
               <p>* Smaller and simpler</p>
            
            <p>2. Eukaryotic Cells</p>
            
               <p>* Found in plants, animals, fungi, and protists</p>
               <p>* Have a nucleus and membrane-bound organelles</p>
               <p>* Larger and more complex</p>
            
            ---
            
            <p>**Main Cell Parts**</p>
            
            <p>Cell Membrane**: Controls what enters and leaves the cell</p>
            <p>Cytoplasm**: Jelly-like fluid where organelles float</p>
            <p>Nucleus**: Contains DNA; controls cell activities</p>
            <p>Mitochondria: Produces energy (ATP) through respiration</p>
            <p>Ribosomes: Make proteins</p>
            <p>Endoplasmic Reticulum (ER): Helps in making proteins (rough ER) and lipids (smooth ER)</p>
            <p>Golgi Apparatus: Packages and ships proteins</p>
            <p>Lysosomes: Break down waste (mostly in animal cells)</p>
            <p>Chloroplasts: Do photosynthesis (only in plant cells)</p>
            <p>Cell Wall: Provides structure (only in plant cells)</p>
            
            <p>Key Cell Functions</p>
            
            <p>Reproduction: Mitosis (body cells) or meiosis (sex cells)</p>
            <p>Energy Use**: Cellular respiration in mitochondria</p>
            <p>Protein Synthesis**: DNA → RNA → Protein</p>
            <p>Transport**: Movement of materials across the membrane</p>
            <p>Homeostasis**: Maintaining a stable internal environment</p>
            </p>
    </div>
    
</div>

{% endblock %}
