.row {
  display: flex;
  align-items: flex-start;
}

.backgroundClass {
  background-color: white !important;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  color: #181527;
}
.bg-body-tertiary {
  background-color: #4e66f4 !important;
}

h1 {
  color: #181527;
}

.mainImage {
  width: 400px; /* or any size suitable for your layout */
  height: auto;
  border: 2px solid #4e66f4;
}


.animalCircle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(24, 21, 39, .5);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  transition: transform 0.2s ease;
}

.animalCircle:hover {
  transform: scale(1.2);
}

.plantCircle {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(24, 21, 39, .5);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  transition: transform 0.2s ease;
}

.plantCircle:hover {
  transform: scale(1.2);
}

.popupImage {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  border: 2px solid #ccc;
  background: #fff;
  padding: 5px;
  max-width: 100px;
}

.animalPopupLabel{
  max-width: 200px;
  max-height: 1000px;
}

.plantPopupLabel{
  position: absolute;
  max-width: 200px;
  max-height: 1000px;
}

li {
  text-align: -webkit-match-parent;
}

.storyboard-nav-container[_ngcontent-iih-c7] {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 4vw;
  max-height: 55%;
  margin: 2vw 0 0;
  transform: translate3d(0, -50%, 0);
}

.storyboard-nav[_ngcontent-iih-c7] {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0;
}

.storyboard-nav_item--active[_ngcontent-iih-c7] {
  margin: 3px 0;
}

.storyboard-nav_item[_ngcontent-iih-c7] {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 7px 0;
  transition: margin .3s;
}

.storyboard-nav_dot[_ngcontent-iih-c7] {
  position: relative;
  width: 20px;
  align-items: center;
}

.storyboard-nav_dot_final[_ngcontent-iih-c7] {
  position: relative;
  width: 20px;
}

.storyboard-nav_dot-inner[_ngcontent-iih-c7] {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #181527;
  transition: width .3s, height .3s, border-color .3s, border-radius .3s;
}

.storyboard-nav_dot[_ngcontent-iih-c7]:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 1px;
  height: 8px;
  background-color: #4e66f4;
  transform: translate3d(-50%, 0, 0);
}

.selected {
  border-color: #181527 !important;
  width: 17px !important;
  height: 17px !important;
  text-shadow: none !important;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", serif;
  font-weight: 400;
  font-style: normal;
}